canvas{
	display: block;
	margin: auto;   
	 
}
body {
    background-image: url("../img/eh.jpg");
}
.dif {
    text-align: center;
}
h1 {
	color: black;
	font-size: 32px;
}

p  {
	color: black
}
.wrapper {
    text-align: center;
}

.menuu {
    top: 50%;
}
